.quote-collection-cont{
    max-width: 100vw;
}
@media screen and (max-width: 400px) {
    .quote-collection-cont{
        font-size: 13px;
       
        .quote{
            font-size: 15px;
            max-width: 75vw;
        }
        .tag{
            font-size: 9px !important;
        }
        .nav-arrow{
            position: absolute;
            background: #fff4;
            backdrop-filter: blur(10px);
            
        }
    }
    
}