@font-face {
  font-family: "Neue";
  src: url("/src/assets/fonts/NeueMachina-Light.otf"),
    url("/src/assets/fonts/NeueMachina-Regular.otf"),
    url("/src/assets/fonts/NeueMachina-Ultrabold.otf");
}

@import url("https://fonts.googleapis.com/css2?family=Redacted&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
.display-authors {
  table {
    tr,
    td,
    thead,
    th {
      background: none !important;
      color: white;
    }
  }
}

.random-quote-page,
.loading,
.author-intro-sec,
.tag-intro-sec,
.author,
.quote {
  font-family: "Neue";
}
@keyframes opacity-up-down {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.cont-loading {
  cursor: progress !important;
  .nav,
  .nav * {
    pointer-events: all !important;
  }
  * {
    pointer-events: none !important;
    font-family: "Redacted" !important;
    animation: opacity-up-down 0.5s alternate infinite;
  }
  .const,
  .action,
  .const *,
  .action * {
    font-family: "Neue" !important;
    opacity: 0.5;
    animation: none;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 25px !important;
  }
  h2 {
    font-size: 20px !important;
  }
  h3 {
    font-size: 17px !important;
  }
  .quote {
    font-size: 20px;
  }
  .author {
    font-size: 15px;
  }
  .tag {
    font-size: 11px !important;
  }
}
.quote-cont {
  .tag {
    transition: all 1s ease;
    position: relative;
    margin: 0 10px;
    padding-left: 20px;
    text-decoration: none;
    -webkit-transition: color 0.2s;

    .badge {
      font-weight: bold;
      font-size: 11px;
      padding: 2px 5px;
      font-family: "Fira Code", sans-serif;
    }
  }
  .tag::before {
    background: inherit;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: "";
    height: 6px;
    left: 5px;
    position: absolute;
    width: 6px;
    top: 50%;
    transform: translateY(-50%);
  }

  .tag::after {
    background: inherit;
    height: 100%;
    width: 10px;
    content: "";
    position: absolute;
    right: -5px;
    top: 0;
    clip-path: polygon(0% 0%, 0% 100%, 100% 60%, 100% 40%);
  }
}
.search-tags:has(.tag:hover) {
  .tag:hover {
    transform: scale(1.2);
    opacity: 1;
    transition: all 1.5s ease;
  }
  .tag {
    opacity: 0.5;
  }
}
